{% extends 'MiAppSintactico/home.html' %}
{%load static%}
	{% block content %}
    <!-- about section -->
	<section class="about text-center">
		<div class="container">
			<div class="row">
				<h2>¿Qué es el cáncer?</h2>
				<h4>Enfermedad en la que células anómalas se dividen sin control y destruyen los tejidos corporales</h4>





				<h1>Tipos de Cáncer</h1>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="{% static 'MiAppSintactico/img/item1.jpg' %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>
							<h3>Cáncer de mama</h3>
							<p>El cáncer de mama es el tipo más común para las mujeres en 154 de los 185 países de un estudio de 2018 de la Agencia Internacional de Investigación del Cáncer de la OMS.

								Representa el 15% de todos los cánceres femeninos, según la OMS.
								
								En 2018, se registraron 627.000 muertes por este tipo de cáncer, de acuerdo con la organización.
								
								Aproximadamente uno de cada cuatro nuevos casos de cáncer diagnosticados en mujeres en todo el mundo ocurre en el seno.
								
								Si se detecta temprano, el cáncer de seno puede ser una enfermedad manejable. Pero sigue siendo la principal causa de muerte por cáncer en las mujeres, seguido del cáncer de pulmón, colorrectal y cervical.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="{% static 'MiAppSintactico/img/item2.jpg' %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>

							<h3>Cáncer colorrectal</h3>
							<p>El cáncer colorrectal afecta las porciones intestinales inferiores del sistema digestivo, el colon y el recto y, en 2018, cobró la vida de 862.000 personas, según la OMS.

								Los tumores pueden desarrollarse en cualquier parte del colon o el recto.
								
								Si las células de cáncer colorrectal se diseminan fuera del colon o el recto, a menudo viajan a los ganglios linfáticos cercanos (a veces llamados glándulas linfáticas).
								
								El cáncer colorrectal también puede extenderse a otras partes del cuerpo, especialmente al hígado, y algunas veces a los pulmones, huesos y otros órganos.</p>
								<p></p>
								
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="{% static 'MiAppSintactico/img/item3.jpg' %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>
							<h3>Cáncer de estómago</h3>
							<p>El cáncer gástrico se presenta cuando se forman células cancerosas en el revestimiento del estómago. En 2018, murieron 783.000 personas en todo el mundo por este tipo de cáncer.

								«Los factores de riesgo incluyen fumar, la infección por la bacteria H. pylori y ciertas afecciones heredadas», dice el Instituto Nacional de Cáncer.
								
								Existen varios tipos de cáncer de estómago que tienden a desarrollarse en un periodo de varios años, dice la Sociedad Estadounidense del Cáncer (ASC por sus siglas en inglés). Señala que antes de que se forme un verdadero cáncer, a menudo se registran cambios «precancerosos» en la mucosa del estómago.</p>
							  
						</div>
					</div>
				</div>
			</div>
		</div>
    </section><!-- end of about section -->
    	<!-- about section -->
	<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="{% static 'MiAppSintactico/img/pulmon.jpg' %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>
							<h3>Cáncer de pulmón</h3>
							<p>Según la OMS, 1,76 millones de personas murieron en 2018 por cáncer de pulmón. Su causa más común es el consumo de cigarrillo, generando cerca del 90% de las muertes por esta afectación.

								Fumar cigarrillo causa más de 480.000 muertes cada año solo en Estados Unidos, es decir, casi una de cada cinco muertes, según los Centros para el Control y Prevención de Enfermedades, CDC.
								
								Los fumadores hombres tienen una probabilidad 25 veces mayor de desarrollar cáncer de pulmón que los no fumadores, mientras que en las mujeres esta posibilidad es de 25,7 veces, según los CDC.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="{% static 'MiAppSintactico/img/esofago.jpg' %}" alt="">
						</div> 
						 <div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div> 

						 <h3>Cáncer de Esófago</h3>
							<p>También conocido como cáncer esofágico, se origina en la capa más interna (la mucosa) y crece hacia afuera (a través de la submucosa y la capa muscular). Debido a que dos tipos de células pueden cubrir el esófago, existen dos tipos principales de esta enfermedad: el carcinoma de células escamosas y el adenocarcinoma.

								El esófago está normalmente cubierto con células escamosas. A la enfermedad que se origina en éstas se le llama carcinoma de células escamosas, la cual puede ocurrir en cualquier lugar a lo largo del esófago.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img"> 
							<img class="img-responsive" src="{% static 'MiAppSintactico/img/pancreas.jpg' %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>
							<h3>Cáncer de Páncreas</h3>
							<p>El cáncer de páncreas o cáncer pancreático es un tumor maligno que se origina en la glándula pancreática.
								Los tumores de páncreas pueden dividirse en dos grandes grupos, según su naturaleza, benignos o malignos. Los primeros no son cancerígenos, y los cirujanos pueden extirparlos sin mayor complicación. De hecho, la mayoría de las veces no vuelven a reaparecer después de la operación, y las células de estas tumoraciones no suelen propagarse más allá de su localización inicial.
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of about section -->
</section><!-- end of slider section -->
<!-- footer starts here -->
{% endblock %}
