{% extends 'MiAppSintactico/home.html' %}
{%load static%}
	{% block content %}
	<!-- team section -->
	<section class="team" id="team">
		<div class="container">
			<div class="row">
				<div class="team-heading text-center">
					<h2>Prevenir</h2>
					<h4>Prevenir el cáncer es posible mediante la adopción de decisiones saludables en su estilo de vida. Tener una alimentación balanceada, mantener un peso sano, evitar el consumo de tabaco y el alcohol, así como protegerse de factores ambientales como los rayos solares, son algunas de las acciones que puede emprender para controlar el riesgo de desarrollar esta enfermedad.

						También la toma de pruebas de detección temprana son parte de los hábitos que puede adoptar.
						
						En esta sección encontrará esta información, además de útiles consejos para poner en práctica estas medidas en su vida diaria.</h4>



						<h2>Medicos Especialistas</h2>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="{% static 'MiAppSintactico/img/member1.jpg' %}" alt="member-1">
					</div>
					<div class="person-detail">
						<div class="arrow-bottom"></div>
						<h3>Dr. M. Weiner, M.D.</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
						<div class="arrow-top"></div>
						<h3>Dr. Danielle, M.D.</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div class="person">
						<img class="img-responsive" src="{% static 'MiAppSintactico/img/member2.jpg'%}" alt="member-2">
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="{% static 'MiAppSintactico/img/member3.jpg' %}" alt="member-3">
					</div>
					<div class="person-detail">
						<div class="arrow-bottom"></div>
						<h3>Dr. Caitlin, M.D.</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
						<div class="arrow-top"></div>
						<h3>Dr. Joseph, M.D.</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div class="person">
						<img class="img-responsive" src="{% static 'MiAppSintactico/img/member4.jpg' %}" alt="member-4">
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="{% static 'MiAppSintactico/img/member5.jpg' %}" alt="member-5">
					</div>
					<div class="person-detail">
						<div class="arrow-bottom"></div>
						<h3>Dr. Michael, M.D.</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
						<div class="arrow-top"></div>
						<h3>Dr. Hasina, M.D.</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div class="person">
						<img class="img-responsive" src="{% static 'MiAppSintactico/img/member6.jpg'%}" alt="member-5">
					</div>
				</div>
			</div>
		</div>
    </section><!-- end of team section -->
</section><!-- end of slider section -->
<!-- footer starts here -->
 {% endblock %}